<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>APofB</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<header>
    <input id="toggler" name="" type="checkbox">
    <label class="fas fa-bars" for="toggler"></label>

    <a class="logo" th:href="@{/}">Piece of Beauty<span>.</span></a>
    <nav class="navbar">

        <a th:href="@{/#home}">Home</a>
        <a th:href="@{/#about}">About</a>
        <th:block sec:authorize="isAuthenticated()">
            <a th:href="@{/products/all}">Products</a>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
        <a href="#products">Products</a>
        </th:block>
        <a th:href="@{/#review}">Review</a>
        <a th:href="@{/#contact}">Contact</a>
    </nav>

    <div class="icons">
        <a>Hello
            <th:block sec:authorize="isAuthenticated()">
                <th:block sec:authentication='name'></th:block>
            </th:block>
        </a>
        <a class="fas fa-heart" href="#"></a>
        <!--        CART ICON-->
        <th:block sec:authorize="isAuthenticated()">
            <a class="fas fa-shopping-cart" id="fa-shopping-cart-logged">
            <!-- CART -->
            <div class="cart" id="cart">
                <h2 class="cart-title">Your Cart</h2>
                <!-- CONTENT -->
                <div class="cart-content">
                </div>
                <!-- TOTAL -->
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">0.00</div>
                </div>
                <!-- BUY BUTTON -->
                <button type="button" class="btn-buy">Buy now</button>
                <!-- CART CLOSE -->
                <i class='fa fa-times' id="cart-close"></i>
            </div>
        </a>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
            <a class="fas fa-sign-in" th:href="@{/users/login}"></a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <form th:action="@{/users/logout}" th:method="POST">
                <button class="fas fa-sign-out" type="submit"></button>
            </form>
        </th:block>
    </div>
</header>
<script src="/js/script.js"></script>
</body>
</html>