:root {
    --pink: #e84393;
    --sec-color: rgb(237, 154, 211);
    --text-color: #171427;
    --bg-color: #fff;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
::selection {
    color: var(--text-color);
    background-color: var(--bg-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 60%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


body {
    padding-top: 15rem;
    min-height: 100vh;
    background: url(../images/home-bg.jpg) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1)
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color: var(--pink);
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;

}

header .navbar a:hover {
    color: var(--pink);

}

header .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .icons a {
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
    font-weight: bolder;
}

header .icons a:hover {
    color: var(--pink);
}

header .icons form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .icons form button {
    font-size: 2.5rem;
    background-color: transparent;
    margin-left: 1.5rem;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    visibility: visible;

}

header .icons button:hover {
    color: var(--pink);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}



main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    font-size: 20px;
}

.table-body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;

}

.table-body::-webkit-scrollbar {
    height: .5rem;
    height: .5rem;
}

.table-body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;

}

.table-body:hover::-webkit-scrollbar-thumb {
    visibility: visible;

}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}
td a{
    display: flex;
    justify-content: start;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
    font-size: 10px;
    font-weight: 400;
}
.users-role {
    ext-align: left;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--sec-color);
}
section.table-header {
    padding: 4rem 3%;
}
section.table-body {
    padding: 1px 1%;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: var(--pink);
}

.status {
    padding: .4rem;
    border-radius: 2rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    text-align: center;
    font-weight: 600;

}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.done-btn {
    padding: .4rem;
    border-radius: 2rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    text-align: center;
    font-weight: 600;
    background-color: #93d7d8;
    color: #06b300;
}

#cart {
    position: fixed;
    top: -100%;
    right: 0;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    border: 1px solid var(--pink);
    transition: 1.5s;
}

#cart.active {
    top: 0;
    transition: .5s;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: .5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--pink);
    width: 2.4rem;
    font-size: 1rem;
    text-align: center;
}

#cart-remove {
    font-size: 24px;
    color: var(--pink);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: .5rem;
}

.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    border-radius: .5rem;
    background-color: var(--sec-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.btn-buy:hover {
    background-color: var(--text-color);
    color: var(--sec-color);
}
#cart-close {
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

@media (max-width: 1000px) {

    td:not(:first-of-type){
        min-width: 12.1rem;
    }
}

@media (max-width: 768px) {

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        font-size: 1.7rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}