<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>

<header>
    <input id="toggler" name="" type="checkbox">
    <label class="fas fa-bars" for="toggler"></label>

    <a class="logo" href="#">Piece of Beauty<span>.</span></a>
    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#products">Products</a>
        <a href="#review">Review</a>
        <a href="#contact">Contact</a>
    </nav>

    <div class="icons">
        <a>Hello
            <th:block sec:authorize="isAuthenticated()">
                <th:block sec:authentication='name'></th:block>
            </th:block>
        </a>
        <a class="fas fa-heart" href="#"></a>
        <a class="fas fa-shopping-cart" href="#"></a>
        <th:block sec:authorize="!isAuthenticated()">
            <a class="fas fa-sign-in" th:href="@{/users/login}"></a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <form th:action="@{/users/logout}" th:method="POST">
                <button class="fas fa-sign-out" type="submit"></button>
            </form>
        </th:block>
    </div>
</header>
<!-- home section -->
<section class="home" id="home">
    <div class="content">
        <h3>all kind of beautiful things</h3>
        <span> handmade beauties </span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores earum iure maiores. Culpa rem maxime
            iusto repellendus sapiente accusantium labore?</p>
        <a class="btn" href="#">shop now</a>
    </div>
</section>
<!-- about section -->
<section class="about" id="about">
    <h1 class="heading">
        <span> About </span> us
    </h1>
    <div class="row">
        <div class="video-container">
            <video autoplay loop muted src="/images/about-us.mp4"></video>
            <h3>photo album for baby girl</h3>
        </div>
        <div class="content">
            <h3>why chose us?</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit id libero aspernatur nihil,
                obcaecati ad laboriosam laudantium aperiam laborum dicta.</p>
            <a class="btn" href="#">learn more</a>
        </div>
    </div>
</section>
<!-- icons section -->
<section class="icons-container">
    <div class="icons">
        <img alt="" src="/images/delivery.png">
        <div class="info">
            <hr>
            Express delivery</h3>
            <span>on all orders</span>
        </div>
    </div>
    <div class="icons">
        <img alt="" src="/images/gifts-icon.png">
        <div class="info">
            <hr>
            Offer & gifts</h3>
            <span>All the time</span>
        </div>
    </div>
</section>
<!-- products section -->
<section class="products" id="products">
    <h1 class="heading">Products <span>on discount </span></h1>
    <div class="box-container">
        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img alt="" src="/images/christmas-ball-discount.jpg">
                <div class="icons">
                    <a class="fas fa-heart" href="#"></a>
                    <a class="cart-btn" href="#">add to cart</a>
                    <a class="fas fa-share" href="#"></a>
                </div>
            </div>
            <div class="content">
                <h3>Christmas ball</h3>
                <div class="price">BGN 12.99 <span>BGN 15.00</span></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img alt="" src="/images/photo-album-discount.jpg">
                <div class="icons">
                    <a class="fas fa-heart" href="#"></a>
                    <a class="cart-btn" href="#">add to cart</a>
                    <a class="fas fa-share" href="#"></a>
                </div>
            </div>
            <div class="content">
                <h3>Photo album</h3>
                <div class="price">BGN 55.99 <span>BGN 60.00</span></div>
            </div>
        </div>
    </div>
</section>
<!-- review section -->
<section class="review" id="review">
    <h1 class="heading"> customer's <span>review </span></h1>
    <div class="box-container">
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dignissimos laborum, recusandae
                necessitatibus culpa quia sunt saepe fugiat porro est possimus dolores omnis facere dicta debitis
                voluptate natus nisi commodi.</p>
            <div class="user">
                <img alt="" src="/images/user.png">
                <div class="user-info">
                    <h3>John Doe</h3>
                    <span>Happy costomer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dignissimos laborum, recusandae
                necessitatibus culpa quia sunt saepe fugiat porro est possimus dolores omnis facere dicta debitis
                voluptate natus nisi commodi.</p>
            <div class="user">
                <img alt="" src="/images/user.png">
                <div class="user-info">
                    <h3>John Doe</h3>
                    <span>Happy costomer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>
    </div>

    </div>

</section>

<section class="contact" id="contact">
    <h1 class="heading"> Contact <span>us </span></h1>
    <div class="row">

        <form action="">
            <label for="name"></label>
            <input class="box" id="name" placeholder="name" type="text">
            <label for="email"></label>
            <input class="box" id="email" placeholder="email" type="email">
            <label for="number"></label>
            <input class="box" id="number" placeholder="number" type="number">
            <label for="message"></label>
            <textarea class="box" cols="30" id="message" name="" placeholder="message" rows="10"></textarea>
            <input class="btn" type="submit" value="send message">
        </form>
        <div class="image">
            <img alt="" src="/images/contact-us.jpg">
        </div>
    </div>
</section>
<footer>
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="#">home</a>
                <th:block sec:authorize="!isAuthenticated()">
                    <a th:href="@{/users/login}">my account</a>
                </th:block>
                <th:block>
                    <a th:href="@{/my-order}">my account</a>
                </th:block>
                <a href="#">my order</a>
                <a href="#">favorite</a>
                <a href="#">contact</a>
            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="https://www.facebook.com/PieceOfYourBeauty">A Piece of Beauty</a>
                <a href="#">apieceofbeauty@gmail.com</a>
                <a href="#">Varna, Bulgaria, 9000</a>
                <div class="delivery-row">
                    <a href="https://www.econt.com/">Cash on Delivery</a>
                    <img alt="" src="/images/econt-icon.png">
                </div>
            </div>
        </div>
        <div class="credit">A Piece of<span> Beauty </span> &copy</div>
    </section>
</footer>
</body>

</html>