<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/common::head}">

</head>
<body>
<header th:insert="~{fragments/common::header}"></header>
<div class="container">
    <form th:action="@{/users/login}" th:method="POST" >

        <div class="input-box">
            <h3 class="title">sign in with your account</h3>
            <span th:if="${bad_credentials}" class="errors text-danger">
                Invalid username or password.
            </span>
            <div class="input">
                <label for="username" class="fa-regular fa-user"></label>
                <input type="text" th:value="${username}"
                       name="username" placeholder="username"
                       id="username"
                       class="form-control">
            </div>
            <div class="input">
                <label for="password" class="fa-solid fa-key"></label>
                <input type="password" placeholder="password"
                       id="password">
            </div>


            <div class="sign-in-btn-box">
                <input type="submit" value="sign in" class="sign-in-btn">
                <div class="buttons">
                    <a th:href="@{/users/register}" >
                        <input type="button" value="register" class="sign-in-btn">
                    </a>
                </div>
            </div>

        </div>
    </form>
</div>

</body>
</html>