<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/common::head}">

</head>
<body>
<header th:insert="~{fragments/common::header}"></header>
<div class="container">
    <form th:action="@{/users/login}" th:method="POST">
        <div class="links">
            <h3 class="title">sign in with</h3>
            <div class="buttons">
                <a class="btn" href="#">
                    <i class="fa-brands fa-google"></i>google</a>
                <a class="btn" href="#">
                    <i class="fa-brands fa-facebook"></i>facebook</a>
                </a>
            </div>
        </div>
        <div class="input-box">
            <h3 class="title">Or sign in with your account</h3>
            <div class="input">
                <span class="fa-regular fa-user"></span>
                <input id="username" name="username" placeholder="username" type="text">
            </div>
            <div class="input">
                <span class="fa-solid fa-key"></span>
                <input id="password" name="password" placeholder="password" type="password">
            </div>
            <div class="sign-in-btn-box">
                <input class="sign-in-btn" type="submit" value="sign in">
                <div class="buttons">
                    <a class="sign-in-btn" th:href="@{/users/register}">
                        <input class="sign-in-btn" type="button" value="register">
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>