<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APofB</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/orders.css">

</head>
<body>
<header th:insert="~{fragments/common::header}">
</header>
<main class="table">
    <section class="table-header">
        <h1>Customer's order</h1>
    </section>
    <section class="table-body">
        <table>
            <thead>
            <tr>
                <th> id </th>
                <th> Customer </th>
                <th> Location </th>
                <th> Order Products </th>
                <th> Order date </th>
                <th> Status </th>
                <th> Amount </th>
                <th> Send </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order :${orders}" th:object="${order}" th:value="${order}">
                <td th:text="*{id}"> 48dd4919-2c54-4145-af84-4d103d07c46a</td>
                <td th:text="*{buyer.username}"><img src="user.png"></td>
                <td th:object="${order.buyer}" th:text="*{city}"></td>
                <td>
                    <a th:each="product : *{products}">
                        <a th:object="${product}">
                            <a th:text="*{productName}"></a>
                        </a>
                    </a>
                </td>
                <td th:text="*{orderDate}"></td>
                <td><p class="status delivered">Delivered</p></td>
                <td><strong th:text="${order.total}"> </strong></td>
                <td><input class="done-btn" type="submit" value="Done"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<!--<script src="/econt.js"></script>-->
</body>
</html>