<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/common::head}">
    <meta charset="UTF-8">
    <title>Hello Aleksandra Vancheva!</title>
</head>
<body>
<nav th:insert="~{fragments/common::nav}"></nav>
<table class="products-list">
    <thead class="products-list-head table">
    <td class="table-header">Name</td>
    <td class="table-header">Type</td>
    <td class="table-header">Picture</td>
    <td class="table-header">Description</td>
    <td class="table-header">Price</td>
    <td class="table-header">Edit</td>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.productName}"></td>
        <td th:text="${product.type.productTypeName.name()}"></td>
        <td>
            <img class="product-image card-img" th:src="${product.pictureUrl}">
        </td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/owner/edit/{id}(id=${product.id})}">edit</a>
        </td>
    </tr>
    </tbody>
</table>
<footer class="row">
    <div class="col-12 container-fluid text-right font-weight-light">
        <p class="d-inline-block tm-bg-black text-white py-2 px-4">
            &copy; Spring Team 2020
        </p>

    </div>
</footer>
</body>
</html>